* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcdde1;
}

.wrap {
    width: 40%;
    height: 550px;
    background-color: #f5f6fa;
    margin: auto;
    border-top: 5px solid #fbc531;
}

h2 {
    padding-top: 10px;
}

.margin_left {
    margin-left: 30px;
}

.radio {
    display: flex;
    flex-direction: column;
}